.exact-information{
    position: absolute;
    width: 570px;
    height: 219px;
    left: 135px;
    top: 177px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-right: 0px;
    margin-bottom:15px;
}
.extraVolunteer{
    text-align: center;
    width: 194px;
    height: 150px;
    border-radius: 15px;
}