.exact-information{
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-right: 0px;
    margin-bottom:15px;
}
.extraVolunteer{
    width: 150px;
    height: 173px;
    border-radius: 15px;
}