.all-networks{
    width: 270px;
    height: 320px;
    border-radius: 10px;
    margin-bottom:10px;
}
.event-image{
    width: 270px;
    height: 320px;
}
.footer-title{
    position: absolute;
    width: 152px;
    height: 24px;
    left: 494px;
    top: 609px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

