.volunteerLogo{
    width: 202.81px;
    height: 60px;
    left: 88px;
    top: 44px;
}
button{
    padding: 14px 0px 0px 46px;
}
.registerBtn{
    border-radius: 6px;
    margin-right: 15px;
}
.adminBtn{
    padding: 14px 0px 0px 46px;
    border-radius: 6px;
    margin-right: 15px;
    background-color: #434141;
    color: #fff;
}